@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100vw;
    background-color: #121212;
}

header {
    height: 4rem;
    margin-bottom:  1rem ;
}

input {
    border: none;
    outline: none;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 3px;
    color: #f5f5f7;
}

label:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
    color: #f2f2f2;
}

main {
    width: 100vw;
    /* padding:0px 20px */
}

/* HELPERS */

.main-container {
    margin: 1rem;
    border-radius: 2rem;
}
.container{
    margin:0 auto;
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between
}

.justify-center {
    justify-content: center;
}



.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* COMPONENTS */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    pointer-events: none;
    opacity: 0;
    transition: opacity .8s;
}

/* GALLERY */

.gallery-page {
    border-radius: 10px;
    height: 100%;
}

.header-content {
    align-items: flex-end;
    height: 100%;
    margin-bottom: 1rem;
}

.logo {
    cursor: pointer;
    padding-bottom: 15px;
}

.header-content a {
    margin-inline-end: 0px;
    margin: 0.6rem 1.5rem;
    padding: 0 0.5rem;
    color: #f5f5f7;
    font-size: 1.25rem;
}
.header-content a:last-of-type{
    margin-inline-end: 0px;
}
.header-content a:active {
    background-color: #fefefe;
    color: #21ac91;
    border-radius: 4px;
}

.header-content a {
    display: flex;
    flex-direction: column;
}

.header-content a::after {
    content: '';
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    width: 100%;
    height: 2px;
}

.search-container {
    display: flex;
    max-width: 100%;
}

.search-input-container {
    display: flex;
    background-color: #f5f5f7;
    margin-bottom: 1rem;
}

.search-container input {
    height: 4rem;
    min-width: 120px;
    margin-inline-start: 1rem;
    flex-grow: 1;
    background-color: #f5f5f7;
    color: #121212;
    font-size: 18px;
}

.search-input-container img {
    height: 50%;
    object-fit: contain;
    margin-inline-end: 10px;
    align-self: center
}

.keyword-box {
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    flex-grow: 1;
    margin-bottom: 1rem;
}

.keyword-box div {
    color: #f5f5f7;
    user-select: none;
    margin-inline-start: 0.5rem;
    padding: 0 0.3rem;
    display: inline-block;
    font-weight: 300;
    font-family: 'Poppins', sans-serif;
}

.keyword-box span:hover {
    cursor: pointer;
}

.gallery-container {
    margin: 0px 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 0.5rem;
    justify-items: baseline
}

.gallery-container img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 5px
}

/* MEME */

.meme-page {
    display: none;
}

.meme-grid {
    max-width: 1040px;
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    justify-items: center;
    gap: 10px;
}

.main-meme-container {
    /* position: relative; */
    width: 350px;
    height: 350px
}

canvas {
    position: absolute;
    border-radius: 5px;
}

.btn-actions {
    margin-bottom: 1.5rem;
    padding: 0px 0.5em;
    border-radius: 3px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 1.15rem;
    font-family: 'poppins';
}

.btn-editor {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 3px;
    border: 2px solid white;
    color: white;
}

.edit-action-buttons button:first-child {
    background-color: #f5f5f7;
    color: black;
}

.edit-action-buttons button:last-child {
    background-color: #121212;
    color: white;
}

.editor-container input[type="text"] {
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding-inline-start: 1rem;
    text-align: center;
    height: 2.5rem;
}

.edit-line-settings {
    display: grid;
    grid-template-columns: repeat(6, 2.5rem);
    gap: 5px;
    max-width: 320px;
    margin-bottom: 1rem;
}

.edit-line-settings form {
    grid-column: span 3;
    display: flex;
    justify-content: space-between;
}

.edit-line-settings form input {
    visibility: hidden;
}

.edit-line-settings button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.25rem;
}

.edit-line-settings svg path {
    fill: white;
}

.edit-line-settings input[name="text-align"]:checked+svg {
    background-color: #f5f5f7;
}

.edit-line-settings input[name="text-align"]:checked+svg path {
    fill: #121212;
}

input[type="color"] {
    position: absolute;
    opacity: 0.01;
}

.edit-line-settings input[list="font-list"] {
    grid-column: span 3;
    text-align: center;
    background: transparent;
    border: 2px solid white;
    border-radius: 3px;
    color: white;
    font-size: 1.15rem;
    height: 2.5rem;
}

form input[type="color"] {
    display: none;
}

.edit-stroke-settings button, .edit-stroke-settings label {
    margin-bottom: 1.5rem;
    margin-inline-end: 0.75rem;
}

.edit-line-settings button {
    font-size: 25px;
}

.sticker-container {
    display: flex;
    flex-wrap: wrap;
}

.sticker-container img {
    max-height: 100px;
    max-width: 75px;
    object-fit: contain;
}

.share-modal {
    background-color: #f2f2f2;
    display: none;
    position: absolute;
}

.share-modal.show {
    display: block;
}

.share-modal button[name="cancel"] {
    background-color: rgb(0, 0, 0);
}

.btn-share {
    background-color: rgb(70, 70, 250);
}

/* My Memes */

.my-memes-page {
    display: none;
}

.my-memes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px 1rem;
}

.meme-card {
    display: flex;
    flex-direction: column;
}

.my-memes-container img {
    margin: 1rem;
    max-width: 200px;
    object-fit: contain;
    border-radius: 5%;
    box-shadow: -2px 8px 9px -5px #000000;
}

.btn-open {
    /* border-image: linear-gradient( -38deg, #42eb5c 0%, #37b34a 100%);; */
    /* background-image: linear-gradient( -38deg, #42eb5c 0%, #37b34a 100%); */
    color: white;
    padding: 0.1rem 0.75rem;
    border-radius: 4px;
    font-size: 1rem;
    align-self: center;
}

@media screen and (max-width:768px) {
    body.menu-open .main-screen {
        pointer-events: auto;
        opacity: 1;
    }
    .main-nav {
        flex-direction: column;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #383b42;
        height: 100vh;
        border-left: 1px solid #606060;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .16);
        transform: translateX(100%);
        transition: transform .6s;
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-nav {
        width: 70%;
        z-index: 10;
    }
    .main-nav a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 3rem 0;
        transition: background-color .3s;
        font-size: 1.5rem;
    }
   
    .menu-icon {
        margin-inline-end: 2rem;
    }
    header {
        border-radius: 0px;
        margin: 0px 0px 1rem;
    }
}

@media screen and (min-width:640px) {
    .meme-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}

@media screen and (min-width:740px) {
    .menu-icon {
        display: none;
    }
    .search-input-container input {
        flex-grow: 1;
        height: 3rem;
        
       
    }
    .search-input-container {
        flex-grow: 1;
    }
    .gallery-container {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    .container{
        max-width:740px ;
    }
}

@media screen and (min-width:980px) {
    .meme-grid {
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        max-width: 980px;
    }
    .container {
        max-width: 1040px;
    }
}

@media screen and (max-width: 500px) {
    .canvas-container {
        width: 80vw;
    }
}