*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

header{
    background-color: blue;
    margin-bottom: 3rem;
}
h1{
    margin: 0 auto;
}

main{
    width: 100vw;
    padding:0px 20px
}
/* GALLERY */

.gallery-container{
    display: flex;
    flex-wrap: wrap;
}

.gallery-container img{
    margin: 5px;
    max-width: 200px;
    object-fit: contain;
}
/* MEME */
.meme-page{
    display: none;
}
.meme-grid{
    display: grid;
    grid-template: 500px 1fr/500px 1fr;
    gap: 10px;
    
}
.main-meme-container{
    position: relative;
}

canvas{
    border: 1px solid black;
    position:absolute;
}
/* My Memes */
.my-memes-page{
    display: none;
}